{%- macro node_full(node) -%}
<section class="node">
    <h1>{{ node.title|default('untitled') }}</h1>
    <div>{{ node.intro }}</div>
    {% if node.image %}
        <img class="themeimg" src="/files/thumb/l/{{ node.image.filename }}" />
    {% endif %}
    <div>{{ node.body }}</div>
</section>
{%- endmacro -%}

{%- macro node_preview(node) -%}
<section class="node node-preview">
    {% set node_title = node.title|default('untitled') -%}
    <h1>
        <a {% if node.slug -%}
           href="/{{ node.slug }}"
           {%- else -%}
           href="/node/{{ node.id }}"
           {%- endif -%}
        >
            {{ node_title }}
        </a>
    </h1>
    <div>
        <a {% if node.slug -%}
           href="/{{ node.slug }}"
           {%- else -%}
           href="/node/{{ node.id }}"
           {%- endif -%}
        >
            {%- if node.image -%}
                <img class="preview-icon" src="/files/thumb/s/{{ node.image.filename }}" />
            {%- else -%}
                <div class="preview-icon-placeholder">
                    ?
                </div>
            {%- endif -%}
        </a>
        <div class="intro">
            {{ node.body|str|default('(nothing to see here)') }}
        </div>
    </div>
</section>
{%- endmacro -%}
