{%- include 'master.ginger.html' -%}
{%- include 'common.ginger.html' -%}

{% call(title) page("Not Found") %}
    <h1>Not Found</h1>
    <p>Whatever it is you were looking for, it is not here.</p>
{% endcall %}
