{%- include 'master.ginger.html' -%}
{%- include 'common.ginger.html' -%}

{% call(title) page("Home") %}
<p>{{ blurb }}</p>
<h1>{{ title }}</h1>
{% if node.image %}
    <img class="themeimg" src="/files/thumb/l/{{ node.image.filename }}" />
{% endif %}
{{ node.body }}
<section class="recent">
    <h1>Recent</h1>
    {% for n in recent %}
        {{ node_preview(n) }}
    {% endfor %}
</section>
{% endcall %}
