{%- include 'master.ginger.html' -%}
{%- include 'common.ginger.html' -%}

{% call(title) page(title|default("Some Nodes")) %}
<h1>{{ title }}</h1>
<section>
{% for node in nodes %}
    {{ node_preview(node) }}
{% endfor %}
</section>
{% endcall %}
