{%- macro page(title) -%}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
    </head>
    <body>
        <header>
            <a class="logo" href="/">
                <h1>hubby</h1>
                <p>the CMS that supports you</p>
            </a>
        </header>
        <div class="maincontent">
            {{ caller(title) }}
        </div>
        <footer>
            Proudly built with Hubby, the CMS that supports you.
        </footer>
    </body>
</html>
{%- endmacro -%}
