{%- include 'master.ginger.html' -%}
{%- include 'common.ginger.html' -%}

{% call(title) page(node.title) %}
    {{ node_full(node) }}
    {% if node.users %}
        <h3>Users:</h3>
        {% if node.users._type == 'table' %}
            <table>
                <tr>
                {% for c in node.users.columns %}
                    <th>{{ c.name }}</th>
                {% endfor %}
                </tr>
                {% for u in node.users.rows %}
                    <tr>
                        {% for i in u %}
                            <td>{{ i }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <ul>
                {% for u in node.users %}
                    <li>{{ u }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endcall %}
