h1, h2, h3 {
    font-weight: bold;
}

a {
    color: #136;
}

a:visited {
    color: #124;
}

a:hover {
    color: #248;
}

small {
    font-size: smaller;
}

pre, code {
    font-family: monospace;
}
