input[type=text],
input[type=password],
textarea {
    border: solid 1px silver;
    border-radius: 2px;
    padding: 3px;
    box-sizing: border-box;
}

hr {
    border: none;
    border-bottom: solid 1px silver;
}

label {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1em;
}

textarea.record-json {
    width: 40rem;
    max-width: 100%;
    height: 20em;
}

.node-query-string,
.node-query-json {
    width: 40em;
    max-width: 100%;
    font-family: monospace;
}

textarea.node-query-string,
textarea.node-query-json {
    display: block;
    height: auto;
}

.record-editor>form {
    display: inline;
}

.record-editor .widget-field {
    padding: 0.75rem 0;
    max-width: 1000px;
    min-width: 320px;
}

input.record-type-other {
    width: 4rem;
}

.record-editor label {
    width: 3rem;
    display: inline-block;
    box-sizing: border-box;
}

.record-editor .widget-locked .widget-field-type {
    display: none;
}

.record-editor textarea.widget-json,
.record-editor textarea.widget-text {
    width: 100%;
    height: 10rem;
}

.record-editor input.widget-string,
.record-editor input.widget-number {
    width: 100%;
}

.record-editor input.widget-number {
    max-width: 12rem;
    text-align: right;
}

.record-editor .widget-locked>.widget-field-locked-invisible {
    display: none;
}

.record-editor .widget-field-locked-only {
    display: none;
}

.record-editor .widget-locked .widget-field-locked-only {
    display: inline;
}

.record-editor .widget-field-buttons {
    float: right;
}

.record-editor .widget-field-title {
    font-weight: bold;
}

.record-editor input.widget-field-title {
    width: 14.125rem;
    max-width: 100%;
}

.record-editor .widget-field-list .widget-field-list {
    border: solid 1px silver;
    border-radius: 2px;
    padding: 1rem;
}

.record-editor .widget-table {
    overflow: auto;
    border: solid 1px silver;
    width: 100%;
}

.record-editor .widget-table table {
    width: auto;
}

.record-editor .widget-table td,
.record-editor .widget-table th {
    vertical-align: top;
    padding: 0.125rem;
}

.record-editor .widget-table .widget-table-column-delete,
.record-editor .widget-table .widget-table-column-insert,
.record-editor .widget-table .widget-table-row-delete,
.record-editor .widget-table .widget-table-row-insert {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    min-width: 2rem;
    cursor: pointer;
}

.record-editor .widget-table .widget-table-column-delete:hover,
.record-editor .widget-table .widget-table-column-insert:hover,
.record-editor .widget-table .widget-table-row-delete:hover,
.record-editor .widget-table .widget-table-row-insert:hover {
    background-color: #EEE;
}

.record-editor .widget-table>table>thead>tr>th input,
.record-editor .widget-table>table>thead>tr>th select {
    width: 8rem;
}

.record-editor .widget-table>table>thead>tr>th>span {
    display: block;
    width: 8rem;
}

.widget-file-item {
    display: block;
    width: 130px;
    padding: 5px;
    padding-top: 10px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    border-radius: 2px;
}

.widget-file-item:hover {
    background-color: #DEF;
}

.widget-file-item span {
    margin-top: 0.5em;
    display: block;
}

.widget-file-grid-item {
    display: inline-block;
}

.widget-file-grid {
    height: 100%;
    overflow-y: auto;
}

.widget-file-placeholder,
.widget-file-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    width: 120px;
    height: 120px;
    background-color: white;
}

.widget-file-placeholder {
    vertical-align: middle;
    line-height: 120px;
    font-size: 60px;
    text-align: center;
    color: #CCC;
}

.widget-pandoc {
    height: 20em;
    padding-bottom: 1.5em;
    width: 100%;
    white-space: nowrap;
    clear: both;
}

.widget-pandoc-cheatsheet-link {
    display: block;
    clear: both;
    font-size: smaller;
    text-align: right;
}

span.widget-pandoc-cheatsheet-link {
    color: #888;
}

.widget-pandoc-src,
.widget-pandoc-dst {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: solid 1px silver;
    margin: 0;
    overflow-x: auto;
}

.widget-pandoc-src {
    overflow-y: scroll;
}

.widget-pandoc-dst {
    white-space: normal;
    overflow-y: hidden;
    padding: 0.25em;
}

.widget-pandoc-dst ul li { list-style: disc; margin-left: 1.5em; }
.widget-pandoc-dst ol li { list-style: decimal; margin-left: 2em; }
.widget-pandoc-dst em { font-style: italic; }
.widget-pandoc-dst strong { font-weight: bold; }
.widget-pandoc-dst p { margin-bottom: 0.5em; }
.widget-pandoc-dst blockquote {
    padding: 0.1em 0 0.1em 0.5em;
    border-left: solid 3px silver;
    background-color: #FAFAFA;
    font-style: italic;
}
.widget-pandoc-dst blockquote>p { margin-bottom: 0; }

.tab-container .tab-panel {
    display: none;
}

.tab-container .tab-panel.tab-selected {
    display: block;
}

.tab-selector {
    display: inline-block;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    background-color: #EEF;
    vertical-align: bottom;
    border: solid 1px silver;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.tab-selector.tab-selected {
    padding-bottom: 0.5rem;
    margin-top: 0.25rem;
    background-color: white;
}

.tab-container {
    border: solid 1px silver;
    border-radius: 2px;
    padding: 0.5rem;
}

.login-body {
    height: 100%;
    width: 100%;
    background: #EEF;
    position: absolute;
}

.login-body .main {
    border-radius: 2px;
    padding: 1rem;
    border: solid 1px silver;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    margin-top: 10%;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.25);
    background-color: white;
}

.login-form .form-row {
    margin-top: 1rem;
}

.login-form label {
    width: 5.5rem;
    display: inline-block;
}
