.hidden {
    display: none;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 1rem;
    margin-top: 0.5rem;
}

.box.errors {
    background-color: #FCC;
    border-color: #C00;
}
