html {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 13px;
    background-color: white;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 180px;
    background-color: #124;
    padding: 0.5rem;
    box-sizing: padding-box;
}

.sidebar-menu {
    padding: 0.5rem 0;
    margin: 0 0.25rem;
}

.sidebar-menu+.sidebar-menu {
    border-top: solid 1px #248
}

.sidebar-menu h1,
.sidebar-menu span,
.sidebar-menu a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.125rem;
}

.sidebar-menu h1,
.sidebar-menu span {
    color: white;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.8),
                  1px  1px 1px rgba(255,255,255,0.1);
}

.sidebar-menu a {
    color: #cff;
}

.sidebar-menu a:hover {
    background-color: #248;
}

.sidebar+* {
    margin-left: 180px;
    box-sizing: padding-box;
}

.main {
    padding: 1rem;
}

.node-list li {
    padding: 0.5rem;
    width: 30rem;
    height: 3.5rem;
    overflow: hidden;
}

.node-list li p {
    font-size: 80%;
}

.node-list .unnamed {
    font-style: italic;
}

.pager {
}

.pager a {
    text-decoration: none;
    display: inline-block;
    width: 2rem;
    border-radius: 2px;
    text-align: center;
}

.pager a.current {
    color: white;
    background-color: #248;
}
