.modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.modal {
    position: fixed;
    left: 2em;
    right: 2em;
    top: 2em;
    bottom: 2em;
    background-color: white;
    border-radius: 2px;
    border: solid 1px silver;
}
