@import 'reset.css';
@import 'webfonts/ebgaramond/stylesheet.css';

body {
    font-family: 'EBGaramond', 'EB Garamond', Garamond, serif;
    font-size: 13pt;
    line-height: 1.6667;
}

h1 {
    font-size: 200%;
    font-family: sans-serif;
}

h2 {
    font-size: 150%;
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
}

h4, h5 {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: dotted 1px black;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background: linear-gradient(180deg, #008, #44F);
    color: white;
    padding: 2rem;
}

header .logo {
    display: inline-block;
}

header a {
    color: #FFF;
}

header a:visited {
    color: #FFF;
}

header a:hover {
    text-decoration: none;
}

header .logo h1 {
    font-weight: bold;
}

.maincontent {
    padding: 2rem;
    min-height: 300px;
}

.maincontent strong {
    font-weight: bold;
}

.maincontent em {
    font-style: italic;
}

.maincontent code,
.maincontent pre {
    font-family: monospace;
    font-size: 75%;
}

.maincontent blockquote {
    padding-left: 0.5rem;
    border-left: solid 1px #666;
    color: #666;
}

.maincontent a {
    color: #44F;
}

.maincontent a:visited {
    color: #008;
}

.maincontent ul li {
    list-style: disc;
    margin-left: 1rem;
}

.maincontent ol li {
    list-style: decimal;
    margin-left: 1rem;
}

.maincontent h1 {
    margin-top: 0.25em;
}

.maincontent section>h1 { font-size: 160%; }
.maincontent section section>h1 { font-size: 130%; }
.maincontent section section section>h1 { font-size: 110%; }

.maincontent td,
.maincontent th {
    padding: 0.5rem;
    border: solid 0.5px black;
}

.maincontent th {
    font-weight: bold;
}

.maincontent img.themeimg {
    float: left;
    clear: both;
    margin-right: 1em;
    border: solid 1px #DDD;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
}

footer {
    padding: 2rem;
    border-top: solid 1px #EEE;
    font-size: 75%;
    text-align: center;
    clear: both;
}

.node-preview {
    display: inline-block;
    width: 20rem;
    max-width: 100%;
    margin-right: 1rem;
    vertical-align: top;
}

.node-preview h1 {
    clear: both;
}

.node-preview div.intro {
    min-height: 72px;
}

.preview-icon,
.preview-icon-placeholder {
    float: left;
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 200%;
    vertical-align: middle;
    text-align: center;
    margin-right: 0.5rem;
    padding: 0;
    box-sizing: border-box;
    border: solid 1px #eee;
    border-radius: 2px;
}
