@font-face {
    font-family: 'gandhi_serif';
    src: url('GandhiSerif-BoldItalic-webfont.eot');
    src: url('GandhiSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('GandhiSerif-BoldItalic-webfont.woff') format('woff'),
         url('GandhiSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('GandhiSerif-BoldItalic-webfont.svg#gandhi_serifbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

